---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/?api_key=<movie_api_key>&language=en-US&query=Fight%20Club
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Wed, 02 Feb 2022 22:32:21 GMT
recorded_with: VCR 6.0.0
